<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Testing</h1>
    <input type="button" value="Save" onclick="save()" />
    <input type="button" value="Upper case" onclick="upper()" />
    <div id="container">
        <div id="left_panel">
            {{
                rocher_editor(
                    "left_panel",
                    "yuda_asm",
                    source_code,
                    readOnly=false,
                    theme="vs-dark",
                    lineHeight=20,
                    minimap={"enabled": True},
                    automaticLayout=true,
                )
            | safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='asm_editor_setup.js') }}"></script>

</body>